<template>
    <div class="carrinho">
     <label class="row itens-cart">Carrinho <span v-show="cart.length > 0"> {{cart.length}}({{cart.length | pluralize('item')}})</span></label>
      <div v-show="cart.length == 0">
        <img class="row icon-cart" :src="require('../assets/cart.svg')" alt="">
        <label class="cart-empty">Até o momento, <br>seu carrinho está vazio.</label>    
      </div>
      <div class="list-cart">
        <div v-show="cart.length >= 1" class="row itens-cart"  v-for="(item, index) in cart" :key="item.id">
          <img class="image-cart"  :src="require('../assets/'+item.image)" alt="">
          <div class="info-game" @mouseover="removeSelected = index" @mouseout="removeSelected = null">
            <label class="row">{{item.name}}</label>
            <label class="row item-price">{{item.price | currency('R$', 2, { decimalSeparator: ','})}}  
              <span v-show="item.qtd > 1"> ({{item.qtd}}x)</span>
              <i @click="remove(item,index)"  v-show="removeSelected === index" class="icon-delete fas fa-times-circle"></i>  
            </label>
          </div>
          <div>
        </div>
      </div>
      </div>
      <div class="info-buy" v-show="cart.length > 0">
        <label class="row prices-payment">subtotal <span> {{total | currency('R$', 2, { decimalSeparator: ','})}}</span></label>
        <label class="row prices-payment">frete <span>{{freight | currency('R$', 2, { decimalSeparator: ','})}}</span></label>
        <label class="row prices-payment total">total <span>{{totalShipping | currency('R$', 2, { decimalSeparator: ','})}}</span></label>
        <b-button v-if="cart.length > 0" class="btn-buy" @click="finish" variant="primary">finalizar compra</b-button>
      </div>
   </div>
</template>

<script>
export default {
    props:['cart', 'valueTotal','shipping','item'],
    data(){
        return{
            removeSelected: null,
        }
    },
    computed:{
        freight:function(){
            return this.shipping
        },
        total: function(){
            return this.valueTotal
        },
        totalShipping: function(){
            return this.valueTotal + this.shipping
        }
    },
      methods: {
        finish:function(){
          alert('Pedido finalizado')  
        },
        remove:function(item, index){
            var vm = this;
            var games = vm.cart
            games.splice(index, 1)
            vm.cart = games
            vm.$parent.valueTotal = vm.$parent.valueTotal - (item.price * item.qtd)
            item.qtd = 0
            if(vm.cart.length >= 1){
                if(vm.$parent.valueTotal > 250.00 ){
                vm.$parent.shipping = 0.00
                }
                else {
                    vm.$parent.shipping = vm.cart.length * 10.00
                }
            }
            else{
             vm.$parent.shipping = 0.00
            }
        },
        calcTotal: function(item){
          this.valueTotal = this.valueTotal + item.price
          if(this.valueTotal > 250.00){
            this.shipping = 0.00
          }
          else{
            this.shipping = parseInt(this.shipping) + 10.00
          }
        }
    }
}
</script>

<style>
.carrinho {
  width: 262px!important;
  min-height: 325px;
  max-height: 474px;
  overflow-x: hidden;
  border: #EEEEEE 1px solid;
}

.cart-empty {
  font-size: 14px;
}
.image-cart{
  height: 42px;
  width: 41px;
  box-shadow: 0px 0px 1px 7px #EEEEEE;
  margin-bottom: 15px;
  margin-top: 10px
}
.itens-cart{
  font-weight: bold;
  font-size: 18px;
  width: 262px!important;
  margin-left: auto!important;
  margin-top: 15px;
}
.itens-cart span{
  font-weight: normal;
  color: #7F7575;
  padding-left: 5px;
}
.itens-cart b{
  float: left;
}
.btn-buy{
  width: 238px!important;
  font-size: 14px!important;
  font-weight: bold!important;
}
.info-game {
  font-size: 14px!important;
  color: #7F7575;
  width: 165px;
  text-align: initial;
  margin-left: 30px;
  line-height: normal;
}
.icon-delete{
  margin-left: 90px;
  cursor: pointer;
  color:#007bff;
}
.icon-cart {
  margin-left: 75px!important;
  margin-top: 30px;
  margin-bottom: 30px;
}
.icon-cart label{
  font-size: 16px;
}
.value-to-cart{
  color: #3487DC!important;
  font-size: 16px;
  font-weight: bold!important;
  margin-top: auto;
  margin-bottom: 20px!important;
}
.info-buy{
  margin-bottom: 15px;
}
.prices-payment{
  margin-left: 15px!important;
  margin-top: 10px;
  font-size: 14px;
  width: 90%;
}
.info-game label label{
  font-weight: bold;
  color: #423B3B;
}
.prices-payment span{
  font-weight: bold;
  color: #423B3B;
  margin-left: auto;
}
.item-price{
  font-weight: bold;
  color: #423B3B;
  margin-top: -3px;
}
.list-cart{
  overflow-y: scroll;
}
.total{
  font-size: 16px;
}
</style>
