<template>
    <div class="row filter-bar">
      <div class="col-md-3" >
        <label>Games</label>
      </div>
      <div class="col-md-9 btn-drop">
        <b-dropdown v-model="selectedCategory" :text="selectedCategory" class="drop m-md-2">
          <template slot="button-content">
            <span>{{selectedCategory}}</span>
            <img class="arrow-drop" :src="require('../assets/arrow-down-icon.svg')" alt="">
          </template>
          <b-dropdown-item  @click="filterGames('name')" value="Nome" >Ordem alfabética</b-dropdown-item>
          <b-dropdown-item  @click="filterGames('price')" value="Preço">Menor preço</b-dropdown-item>
          <b-dropdown-item  @click="filterGames('score')" value="score">Mais populares</b-dropdown-item>
        </b-dropdown>
      </div>
     </div>
</template>

<script>
export default {
    props:['games'],
    data(){
        return{
            selectedCategory: 'Mais populares',
        }
    },
    methods:{
         filterGames:function(valueFilter) {
          switch (valueFilter) {
            case 'price':
              this.selectedCategory = "Menor preço"
              this.games = this.games.sort((a, b) => a.price - b.price);
              break;
            case 'score':
              this.selectedCategory = "Mais populares"
              this.games = this.games.sort((a, b) => b.score - a.score);
              break;
            case 'name':
              this.selectedCategory = "Ordem alfabetica"
              this.games = this.games.sort( (a, b) => a.name.localeCompare(b.name));
              break;
            default:
              console.log('Opção inválida');
              break;
          }
        }
    }
}
</script>

<style>
.filter-bar{
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.filter-bar label{
  padding: inherit;
  float: left;
  font-size: 48px;
  font-weight: 600;
  margin-top: -15px;
}
.filter-bar .drop button{
  float: right;
  width: 262px!important;
  background-color: #ffffff!important;
  color: #423B3B!important;
  text-align: initial;
  border-color: #E1E1E1;
}
.btn-drop{
  margin: inherit;
  margin-left: -20px;
}
.btn-drop .dropdown{
  float: right;
}
.dropdown-toggle:after{
  display: none!important;
}
.arrow-drop {
  float: right;
  margin-top: 10px;
}
</style>
