<template>
 <div class="row body container-fluid">
  <div  class="col-9 lista">
    <FilterBar :games="games"/>
    <ListGames :games="games" :calcTotal="calcTotal" :cart="cart" :addCart="item" />
  </div>
  <CartBuy :cart="cart" :valueTotal="valueTotal" :shipping="shipping" />
</div>


</template>

<script>
import CartBuy from './CartBuy.vue'
import ListGames from './ListGames.vue'
import FilterBar from './FilterBar.vue'


import jsonGames from '../static/games.json'
export default {
  props:[
    'item'
  ],
  components: {
    CartBuy,
    ListGames,
    FilterBar
  },
  computed: {
    caminhoImagem:function(){
      return "../assets/";
    }
  },
  data(){
    return{
      valueTotal: 0.00,
      shipping: 0.00,
      cart: [], 
      games: jsonGames
    }
  },
   methods: {
        calcTotal: function(item){
          this.valueTotal = this.valueTotal + item.price
          if(this.valueTotal > 250.00){
            this.shipping = 0.00
          }
          else{
            this.shipping = parseInt(this.shipping) + 10.00
          }
        },
         addCart: function(data){
          if(this.cart.length >=1){
            this.cart.forEach(item => {
              if(item.id == data.id){
                if(data.qtd){
                  return data.qtd = parseInt(data.qtd)+ parseInt(1) 
                }
                else{
                  return data.qtd = 2
               }}
            });
          }
          if(!data.qtd){
             data.qtd = 1
            this.cart.push(data)
          }
          this.calcTotal(data)
        }
    },
}
</script>

<style>
.body{
  font-family: 'Open Sans', sans-serif; 
}
.lista {
  padding-left: 110px!important;
}
</style>
