<template>
    <b-card-group class="container">
        <b-col v-for="(item, index) in games" @click="addCart(item)" @mouseover="active= index" @mouseout="active = null"
           :key="item.id" cols="4" class="game-select">
          <b-card  text-variant="white" class="text-center card">
            <img :src="require('../assets/'+item.image)" alt="image">
          </b-card>
          <div class="add-to-cart">
            <div v-show="active !== index">
              <label class="card-text">{{item.name}}</label>
              <label class="value-to-cart card-text">{{item.price | currency('R$', 2, { decimalSeparator: ','})}}</label>
            </div>
            <div class="link-add" v-show="active === index">
              <span>adicionar no carrinho</span>
            </div>
          </div>
        </b-col>
      </b-card-group>
</template>

<script>
export default {
    props:['games','cart'],
    data(){
        return{
            active: null,
        }
    },
    methods:{
        addCart: function(data){
            var vm = this; 
          if(vm.cart.length >=1){
            vm.cart.forEach(item => {
              if(item.id == data.id){
                if(data.qtd){
                  return data.qtd = parseInt(data.qtd)+ parseInt(1) 
                }
                else{
                  return data.qtd = 2
               }}
            });
          }
          if(!data.qtd || data.qtd == 1){
              if(!data.qtd ){
                data.qtd = 1
                vm.cart.push(data)
              }
              else{
                 vm.cart.push(data)
              }
          }
          vm.$parent.calcTotal(data)
        },
    }
}
</script>
<style>
.game-select{
  cursor: pointer;
}
.card{
  background-color:#EEEEEE!important;
  color: #EEEEEE;
  width: 262px!important;
  height: 230px!important;
}
.card-text {
  margin-top: 10px;
  margin-left: auto!important;
  margin-right: auto!important;
  width: 262px;
  font-size: 14px;
  margin-bottom: auto;
}
.add-to-cart {
  margin-left: auto!important;
  max-height: 90px;
  margin-bottom: 25px;
}
.add-to-cart label{
  color: #746A6A;
}
.link-add{
  margin-top: 20px;
  color: #3487DC;
  font-size: 16px;
  font-weight: bold;
}
.value-to-cart{
  color: #3487DC!important;
  font-size: 16px;
  font-weight: bold!important;
  margin-top: auto;
  margin-bottom: 20px!important;
}

</style>
