<template>
  <div id="app">
    <GameShop/>
  </div>
</template>

<script>
import GameShop from './components/GameShop.vue'

export default {
  name: 'gameShop',
  components: {
    GameShop
  }
}
</script>

<style>
#app {
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
